
/* ADMIN DATA TABLES */
table.dataTable thead .sorting { background: url("../images/sort_both.png") no-repeat center right;}
table.dataTable thead .sorting_asc { background: url("../images/sort_asc.png") no-repeat center right; }
table.dataTable thead .sorting_desc { background: url("../images/sort_desc.png") no-repeat center right;}
table.dataTable thead .sorting_asc_disabled { background: url("../images/sort_asc_disabled.png") no-repeat center right; }
table.dataTable thead .sorting_desc_disabled { background: url("../images/sort_desc_disabled.png") no-repeat center right;}
#subscriptions-table_wrapper { position: relative;margin-top: 20px; }
.dt-search-box 				 { padding-bottom:10px; }
#subscriptions-table_info 	{ margin-top: 10px; }

.subscription-type-filter { float: left; }
.subscription-type-filter label { float: left;line-height: 28px;margin-right: 6px;}


.cbw-admin-table tr:nth-child(even) { background: #f9f9f9 }
.cbw-admin-table tr:nth-child(odd) { background: #fff }

#punch-cards-table_paginate {
    border-radius: 4px;
    display: inline-block;
    margin: 20px 0;
    padding-left: 0;
}

#punch-cards-table_paginate .paginate_button{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}

#punch-cards-table_paginate .paginate_button {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #428bca;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}

.dashicons {
    font-size:1.8em;
    margin-top:0px;
    margin-right:12px;
    cursor:pointer;
}

.dashicons-plus, .dashicons-yes {
    color:green;
}
.dashicons-minus {
    color:red;
}
